
# Playwright
node_modules/
.env
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/sessionData.json/
allure-results/
allure-results/ 
sessionData/
test-results/
